.Home {
    background: url(../../assets/homepic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.HomeBody {
    margin-bottom: 210px;
    width: 750px;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    
}

.HomeBody h1{
    color: white;
    font-weight: bold;
}

.HomeBody h6{
    color: white;
}

.Details {
    width: 70%;
    height: 500px;
    background: aqua;
    margin: auto;
    display: flex;
    margin-top: 20px;
}

.Arrow {
    height: 50px;
    width: 50px;
    top: 885px;
    position: absolute;
}

.Arrow2 {
    height: 50px;
    width: 50px;
    top: 900px;
    position: absolute;
}
